* {
  font-family: 'Azeret Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline-offset: 8px;
}

p {
  font-weight: 200;
  font-style: italic;
}

input, select, button {
  font-family: 'Azeret Mono', monospace;
  font-size: 1.4em;
}

button {
  background: none;
  font-size: 1.4em;
  cursor: pointer;
  padding: 12px 16px;
  border: none;
}

input {
  padding: 16px;
}

.default-button, .invert-button:hover {
  background: #000;
  color: #FFF
}

.invert-button, .default-button:hover {
  border: 1px solid #000;
  background: none;
  color: #000;
}

.default-button:disabled {
  background: #999;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2;

  box-shadow: 0 8px 8px -8px #444;

  padding: 0 108px;

  height: 96px;
  gap: 24px;

  width: 100%;

  background: #FFF;
}

.header a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-style: italic;
}
.header a, .header .logout-button {
  font-size: 1em;
}

.header a:hover, .header .main-page-link {
  font-weight: 700;
  font-style: normal;
}

.header .main-page-link {
  font-size: 1.4em;
  margin-right: 24px;
}

.header .auth-links {
  display: flex;
  gap: 24px;
}

.app-wrapper {
  padding: 96px 0 96px 0;
}

.logout-button {
  color: rgb(230, 76, 76);
  background: none;
  border: none;
  cursor: pointer;
}

.profile-links, .customer-links {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 24px;
}
